include block_html/_style.pug
include block_html/_include.pug

+header()
.page
	.page-cont
		+slideMenu()
		.content
			.section.section--mid.section--extend(style="background-image:url('img/bg-words.jpg')")
				.filter-bg.filter--dark
				.section-cont.section-cont--main
					.main-cont
						.section-title-line
						.section-title-sub Все что вам нужно знать:
						.section-title О ELISPRINT

			.section.section--white.section--extend-md
				.main-cont
					.about
						.about__title о компании
						.about__text.text
							p Элис Принт — профессиональный коллектив менеджеров, технологов, дизайнеров, верстальщиков с огромным опытом работы в сфере рекламно-полиграфических услуг. В наших возможностях наиболее эффективно использовать все технологии нашего производства для решения задач любой сложности и срочности.

							ul
								li Качественная печать на современном оборудовании.
								li Разнообразные решения для постпечатной обработки.
								li Профессиональная предпечатная подготовка силами дизайн-бюро.
								li Подбор сувениров по параметрам запроса с последующей персонализацией.
								li Возможность изготовления в одном месте всей линейки рекламной продукции под единым контролем.
								li Предоставление удобного сервиса от приема заказа до доставки готовых тиражей по Москве собственным автотранспортом.

							p Компания «Элис Принт» всегда в развитии. За нашими плечами более 10 лет работы с крупнейшими мебельными фабриками и фармацевтическими компаниями. Мы знаем, как использовать современные технологии для решения различных задач, поэтому Ваш заказ для нас — это возможность воплотить в форме и цвете новые идеи.

							p
								strong Мы ждем именно Вас! Приходите!

			+footer()
include ./block_html/_script.pug
