include block_html/_style.pug
include block_html/_include.pug

+header()
.page
	.page-cont
		+slideMenu()
		.content
			.section.section--mid.section--extend(style="background-image:url('img/bg-words.jpg')")
				.filter-bg.filter--dark
				.section-cont.section-cont--main
					.main-cont
						.section-title-line
						.section-title-sub Lorem ipsum dolor sit amet
						.section-title технические требования

			.section.section--white.section--extend-md
				.main-cont
					.text
							p
								strong 1. Требования общего характера
								br
								| 1.1. Цветовая модель макета должна соответствовать технологии печати. Для триадной (CMYK) печати все составляющие элементы макета должны быть только в модели CMYK и не должны содержать дополнительных смесевых красок (pantone), элементов в цветовой модели RGB и др. При печати смесевыми красками они должны быть правильно заданы в макете. Макет не должен содержать лишних, неиспользуемых красок.
								br
								| 1.2. Размер страницы документа (макета) должен быть равен обрезному (окончательному) формату изделия. Исключение — макет в виде одного растрового изображения (см. п. 2.2)
								br
								| 1.3. Элементы макета, печатающиеся «под обрез» (т.е. граничащие с краем листа: фон, плашки, другие элементы дизайна) должны выходить за края на 3–5 мм («вылеты»).
								br
								| 1.4. Все внутренние элементы макета должны отстоять от линии реза не менее чем на 3 мм для листовой продукции и не менее чем на 7 мм для многостраничных изданий.
								br
								| 1.5. Суммарный процент краски (сумма процентов каждой из красок CMYK для данного цвета или области растрового изображения) не должен превышать 310%.
								br
								| 1.6. Минимальная толщина линии, уверенно воспроизводимая офсетной печатью, составляет 0,07 мм (0,2 pt).
								br
								| 1.7. Растровые элементы макета не должны содержать встроенные цветовые профили (ICC profiles).
								br
								| 1.8. Все мелкие элементы черного цвета (текст, линии и т.д.), расположенные на цветном фоне, должны иметь атрибут «overprint», т.е. печать с наложением. В плашках и иных крупных элементах черного цвета необходимо использовать «глубокий черный»: c60/m50/y50/k100 без атрибута «overprint».
								br
								| 1.9. Если элементы макета нуждаются в треппинге или печати с наложением, параметры которых отличаются от принятых по умолчанию, это необходимо согласовать с нами до передачи макета в работу.
								br
								| 1.10. Принимаемые носители: CD, DVD, флэш-накопители, внешние USB-накопители.
							p
								strong 2. Требования к макетам, предоставленным в виде одного растрового изображения
								br
								| 2.1. Макеты в виде одного растрового изображения принимаются только в следующих форматах: .tif, .psd, .eps (Photoshop до версии CC).
								br
								| 2.2. Размер макета должен быть равен дообрезному формату изделия (обрезной формат плюс вылеты по 3–5 мм с каждой стороны). Исключение составляют макеты для струйной печати — там вылеты не нужны.
								br
								| 2.3. Разрешение растровых файлов для офсетной печати — 250–350 dpi, для струйной печати — по предварительному согласованию.
								br
								| 2.4. При наличии в макете мелких элементов черного цвета (текст, линии и т.д.), расположенных на цветном фоне, необходимо обеспечить эффект печати с наложением (в цветных каналах не должно быть выворотки — белых элементов). Для таких элементов не рекомендуется использовать глубокий черный цвет.
								br
								| 2.5. Формат .tif принимается без слоев, обтравочных контуров и альфа-каналов, в цветовых моделях CMYK (для печати триадой), Grayscale для печати одной краской.
								br
								| 2.6. Формат .eps для печати триадой см. п. 2.5; при использовании CMYK плюс одна или несколько смесевых красок — обязательно использовать формат DCS 2.0; при использовании только смесевых красок допускается формат Duotone.
								br
								| 2.7. Формат .psd принимается в цветовой модели CMYK, не должен содержать текстовых слоев.
							p
								strong 3. Требования к макетам, предоставленным в виде векторного изображения
								br
								| 3.1. Макеты в виде векторного изображения принимаются только в следующих форматах: .ai, .eps (Illustrator до версии CС).
								br
								| 3.2. Все шрифты должны быть переведены в кривые.
								br
								| 3.3. Допускается внедрение растровых изображений в цветовой модели CMYK, Grayscale. Все используемые растровые элементы должны быть встроены, а не связаны (embedded, not linked).
								br
								| 3.4. Не допускается наличие связанных (linked) векторных изображений.
								br
								| 3.5. В программе Illustrator при использовании растровых эффектов, таких как прозрачность, тени и пр., необходимо в меню Effect/Document Raster Effects Settings выставить Resolution High (300 ppi). Не желательно сохранять такие макеты в предыдущих версиях: исправить или отредактировать что-либо будет невозможно.
							p
								strong 4. Требования к макетам, предоставленным в виде верстки
								br
								| 4.1. Верстка принимается в следующих программах: QuarkXPress до версии 8, InDesign до версии CС на платформах PC и Мac.
								br
								| 4.2. К верстке обязательно должны быть приложены ВСЕ использованные шрифты и связанные файлы (т.е. должен быть записан «коллект»).
								br
								| 4.3. В верстке не допускается использование системных шрифтов.
								br
								| 4.4. Связанные файлы могут быть ТОЛЬКО в форматах EPS и TIFF, в цветовой модели и с разрешением, соответствующими технологии печати (см. п. 1.1, 2.3). Масштабирование вложенных растровых изображений допускается в пределах 70–120%
								br
								| 4.5. В программе QuarkXpress не допускается использовать толщину линии «Hairline» — такая линия не напечатается! Если при создании макета использованы внешние расширения (XTensions), они должны быть приложены к коллекту.
							p
								strong 5. Требования к макетам, предоставленным в формате PDF
								br
								| 5.1. PDF должен быть композитным, постраничным, без служебных меток. Формат равен дообрезному формату (вылеты одинаковые по всем сторонам).
								br
								| 5.2. В файле не должно быть внедрённых ICC-профилей.
								br
								| 6. Дополнительные сведения:
								br
								| 6.1. Файлы, созданные в MS Word (а также в любой другой программе семейства Microsoft Office), НЕ ЯВЛЯЮТСЯ макетами, и могут рассматриваться только как текст и/или эскиз.
								br
								| 6.2. Возможность передачи макета, созданного в программе CorelDraw оговаривается отдельно.
							p
								| Несоблюдение ТРЕБОВАНИЙ влечет необходимость доработки (или переработки) макета, оплачиваемой Заказчиком дополнительно, а также повышает вероятность ошибок и снижения качества при печати макета.


			+footer()
include ./block_html/_script.pug
