mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.section-title-line(data-aos="flip-left" data-aos-duration="1000")
				.footer-info(data-aos="fade-down" data-aos-delay="700" data-aos-duration="1000")
					.footer-info__text Москва, 109382, Вольная, 19
					.footer-info__text Тел.: +7 (495) 782 83 62
					.footer-info__text info@elisprint.ru
				.footer-copyright(data-aos="fade-up" data-aos-delay="1700" data-aos-duration="1000") © 2018 ООО «Элис-принт»

//block footer end