mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.section-title-line
				.footer-info
					.footer-info__text Москва, 109382, Вольная, 19
					.footer-info__text Тел.: +7 (495) 782 83 62
					.footer-info__text info@elisprint.ru
				.footer-copyright © 2018 ООО «Элис-принт»


//block footer end