-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'Контакты',
			'href':'contact'
		},
		{
			'name':'Портфолио',
			'href':'portfolio'
		},
		{
			'name':'Технические требования',
			'href':'tech'
		},
		{
			'name':'Продукция и услуги',
			'href':'services'
		},
		{
			'name':'Оборудование',
			'href':'oborud'
		}
	]

